<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- # args -->
    <arg name="use_map_topic" default="true" />
    <arg name="tf_broadcast" default="true" />
    <arg name="scan_topic" default="scan" />

    <!-- # amcl -->
    <node pkg="amcl" type="amcl" name="amcl" clear_params="true">
        <param name="use_map_topic" value="$(arg use_map_topic)" />
        <param name="odom_model_type" value="diff" />
        <param name="odom_frame_id" value="odom" />
        <param name="update_min_a" value="0.1" />
        <param name="tf_broadcast" value="$(arg tf_broadcast)" />

        <remap from="scan" to="$(arg scan_topic)" />
    </node>

</launch>
