<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- # args -->
    <arg name="path_yaml" default="" />

    <!-- # robot localization tf map -> odom -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_map_gps" clear_params="true" output="screen">
        <rosparam file="$(arg path_yaml)" command="load" />
        <remap from="odometry/filtered" to="odometry/filtered_map" />
        <remap from="set_pose" to="ekf_map_gps/set_pose" />
    </node>

</launch>
