<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- # arg -->
    <arg name="path_yaml" default="$(find ros_my_localization)/config/navsat.yaml" />

    <!-- # robot localization tf utm -> map -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat" clear_params="true" output="screen">
        <rosparam file="$(arg path_yaml)" command="load" />
        <remap from="/odometry/filtered" to="odometry/filtered_map" />
        <remap from="/gps/fix" to="/gps_fix" />
        <remap from="/imu/data" to="/imu" />
    </node>

</launch>
